.container.content {
  margin-top: 70px;
}
.user-image {
  margin-bottom: 20px;
}
.progress {
  height: 30px;
}
.bar.audio {
  -webkit-transition: none;
  transition: none;
}
bar.load {
  width: 5%;
}
